<html>

<body>
    <h1>Internal server error.</h1>

    <div>If you feel this is not intended please report this error to an admin (thesadru@gmail.org or ashleney on discord).</div>
    </hr>
    <div>Exception: {{ exception }}</div>

    </hr></hr>
    <a href="/logout">Logout</a>
</body>

</html>
