<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png"
    href="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/char_150_snakek.png">

<head>
    <title>ArkPRTS</title>
    <meta charset="UTF-8">
    <meta name="description" content="View in-game arknights information updated real-time.">
    <meta name="keywords" content="arknights search real-time">
</head>

<link rel="stylesheet" href="static/style.css">

<body>
    <div id="search">
        <form action="/search" , method="get">
            <input type="text" name="nickname" placeholder="Search for player">
            <select name="server" value="{{ server }}">
                <option value="en">EN</option>
                <option value="jp">JP</option>
                <option value="kr">KR</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </div>

    <div id="login">
        <form method="GET" action="/user">
            <input type="submit" value="Login">
        </form>
    </div>

    <br>

    <div id="news" class="simple-border" style="text-align: center;">
        <h1>Arknights announcements</h1>
        {% if preannouncement and preannouncement.actived %}
        <iframe class="announcement-iframe" src="{{preannouncement['preAnnounceUrl']}}" title="Pre-announcement" width="1560" height="450"></iframe>
        {% endif %}
        {% for announcement in announcements["announceList"] %}
        {% if 'Fair Play' not in announcement['title'] %}
        <iframe class="announcement-iframe" src="{{announcement['webUrl']}}" title="{{announcement['title']}}" width="780" height="450"></iframe>
        {% endif %}
        {% endfor %}
    </div>
</body>


<footer>
    <a href="/about">About</a>
    <a href="https://stats.uptimerobot.com/kx4NEuYYZ7">Uptime</a>
    <a href="/bundles">Game asset bundles</a>
    <a href="https://github.com/thesadru/arkprtserver">Made with ArkPRTS</a>
<footer>

</html>
