<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png"
    href="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/char_150_snakek.png">

<head>
    <title>ArkPRTS</title>
    <meta charset="UTF-8">
    <meta name="description" content="Search arknights users updated real-time.">
    <meta name="keywords" content="arknights search real-time">
    <meta property="og:site_name" content="Search arknights users updated real-time.">


    {% if users %}
    {% set user = users[0] %}
    <meta property="og:title" content="{{ user.nickname }}#{{ user.nick_number }} - {{ user.uid }}" />
    <meta property="og:image" content="{{ get_charavatar(user.secretary, user.secretary_skin_id) }}" />
    {# I apologize for this mess, no idea how else to eliminate whitespace #}
    <meta property="og:description" content="
{{ user.resume }}

Level: {{ user.level }}
Playing since: {{ user.register_ts.strftime('%Y-%m-%d') }}
Last online: {{ user.last_online_time.astimezone(datetime.timezone.utc).strftime('%Y-%m-%d %H:%M:%S UTC') }}
Characters: {{ user.char_cnt}}

Support units:
{% for support in user.assist_char_list|reject('none')|rejectattr('skill_index', 'eq', -1) 
%}{% set skill = support.skills[support.skill_index] 
%}{{support.static.name}} - E{{ support.evolve_phase }}L{{ support.level 
}}{% if support.potential_rank %} P{{ support.potential_rank + 1}}{% endif 
%} S{{ support.skill_index+1 }}M{{ skill.specialize_level }}{% if support.skills|sum(attribute='specialize_level') > skill.specialize_level
%} (M{{ support.skills|sum(attribute='specialize_level') }}){% endif 
%}{% if support.current_equip and '001' not in support.current_equip 
%}{% set module = gamedata.uniequip_table.equip_dict[support.current_equip] 
%} {{ module.type_name_1 }}-{{ module.type_name_2 }}{{ support.equip[support.current_equip].level }}{% endif %}
{%endfor%}
    " />
    {% endif %}

    <link rel="stylesheet" href="static/style.css">
    <style>
      body {
        width: 100%;
        max-width: unset;
        min-width: unset;
        margin: 0;
      }

      main {
        width: 1000px;
        margin: auto;
      }

      @media only screen and (max-width: 1200px) {
        main {
          width: 95%;
        }
      }
    </style>
</head>


<body>
  <head>
    <div id="search">
      <a href="/"><img id="logo" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/char_150_snakek.png" /></a>
      <form action="/search" method="GET">
        {# the defaults should be based on the query parameters #}
        {% set nickname = request.query.get("nickname", "") %}
        {% set server = request.query.get("server", "en") %}
        {% set all = request.query.get("all", "0") == "1" %}
        <input type="text" name="nickname" placeholder="Search for player" value="{{ nickname }}" required>
        <select name="server">
          <option value="en" {{"selected" if server=="en" }}>EN</option>
          <option value="jp" {{"selected" if server=="jp" }}>JP</option>
          <option value="kr" {{"selected" if server=="kr" }}>KR</option>
        </select>
        <input type="checkbox" name="all" value="1" {{ 'checked' if all else '' }}>
        <label for="all" style="font-size: 12px">Show all</label>
        <input type="submit" value="Search">
      </form>
    </div>
  </head>
  <main>
    <div id="login">
        <form method="GET" action="/user">
            <input type="submit" value="Login">
        </form>
    </div>

    <br>
    <div id="users">
        {% if not users %}
        User not found. Please enter a nickname to search for (case-sensitive).
        {% endif %}
        {% for user in users %}
        <div class="user" id="{{ user.uid }}">
          <img class="user-background" style="object-position: {{ 'top' if '#1' in user.secretary_skin_id and '@' not in user.secretary_skin_id else 'center' }};" src="{{ get_charimage('characters', user.secretary_skin_id) }}">
            {# TODO: Support default and event avatars #}
            <div class="user-body">
              <div class="clear-both user-info">
                <div class="user-header">
                  <span class="avatar">
                      {% set sec = gamedata.get_operator(user.secretary or 'char_002_amiya') %}
                      <a class="thumb" href="https://arknights.wiki.gg/wiki/{{ sec.name.replace(' ', '_') }}">
                          <img src="{{ get_avatar(user.secretary, user.secretary_skin_id) }}" class="avatar-img"
                              title="{{ sec.name }}">
                      </a>
                  </span>
                  <div>
                    <h2>
                          LV{{ user.level }}
                          {{ user.nickname }}#{{ user.nick_number }}
                    </h2>
                    <i>{{ user.resume }}</i>
                  </div>
                </div>
                  Playing since: {{ user.register_ts.strftime("%Y-%m-%d") }}<br>
                  Last online: {{ user.last_online_time.astimezone(datetime.timezone.utc).strftime("%Y-%m-%d %H:%M:%S
                  UTC") }}<br>
                  {% if user.main_stage_progress %}
                    {% set stage = gamedata.stage_table.stages[user.main_stage_progress] %}
                    Current stage: {{ stage.code }} ({{ stage.name }})<br>
                    {% else %}
                    Current stage: Completed<br>
                  {% endif %}
                  Characters: {{ user.char_cnt}}
                  Furniture: {{ user.furn_cnt }} <br>
                  ID: {{ user.uid }}
                  {# <details>
                    <summary>Teams</summary>
                    <div>
                        {% for team, amount in user.team_v2.items() %}
                        <span>
                            <img src="{{ get_image('factions', 'logo_' + team) }}"
                                title="{{ gamedata.handbook_team_table[team].power_name }}">
                            <b>{{amount}}</b>
                        </span>
                        {% endfor %}
                    </div>
                  </details>
                  #}
              </div>
              <div>
                  <div class="user-supports">
                      <!-- skipping all 1*/2* skill-less operators cause I don't wanna deal with that -->
                      {% for support in user.assist_char_list|reject("none")|rejectattr("skill_index", "eq", -1) %}
                      <div class="support-operator">
                          {% set skill = support.skills[support.skill_index] %}
                          <span>
                              <a class="support-portrait-anchor"
                                  href="https://arknights.wiki.gg/wiki/{{ support.static.name.replace(' ', '_') }}">
                                  <img src="{{ get_charportrait(support.char_id, support.skin_id) }}" class="support-portrait"
                                      title="{{ support.static.name }}">
                                <span class="support-portrait-text">
                                  {% if support.potential_rank %}
                                    <img src="{{ get_image('ui/potential', support.potential_rank + 1) }}"
                                        title="Potential {{ support.potential_rank + 1 }}">
                                  {% endif %}


                                  <span>
                                    <img src="{{ get_image('ui/elite', support.evolve_phase) }}"
                                        title="Elite {{ support.evolve_phase }}">
                                    LV{{ support.level }}
                                  </span>
                                </span>
                                <span class="portrait-skill">
                                  <img class="on-portrait-skill" src="{{ get_skill(skill.static.icon_id or skill.skill_id) }}"
                                      title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }}">
                                  {% if skill.specialize_level > 0 %}
                                  <img src="{{ get_image('ui/rank', 'm-'+(skill.specialize_level|string)) }}"
                                      class="mastery-img"
                                      title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }} M{{ skill.specialize_level }}">
                                  {% endif %}
                                </span>
                              </a>
                          </span>
                          <div class="support-info">


                          <span class="support-other-skill-container">
                          {% for skill in support.skills %}
                            <span class="relative support-other-skills">
                                <img class="other-skill-icon" src="{{ get_skill(skill.static.icon_id or skill.skill_id) }}"
                                    title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }}">
                                {% if skill.specialize_level > 0 %}
                                <img src="{{ get_image('ui/rank', 'm-'+(skill.specialize_level|string)) }}"
                                    class="mastery-img"
                                    title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }} M{{ skill.specialize_level }}">
                                {% endif %}
                                {# {{skill.static.levels[support.main_skill_lvl-1].name}} #}
                            </span>
                          {% endfor %}
                          </span>
                          {% if support.current_equip and "001" not in support.current_equip %}
                            {% set module = gamedata.uniequip_table["equipDict"][support.current_equip] %}
                            {% set module_name = module.type_name_1 + "-" + module.type_name_2 %}
                            <span class="support-module">
                              <img src="{{ get_asset('arts/ui/uniequiptype', module_name.lower()) }}" />
                              {{ module_name }} {{ support.equip[support.current_equip].level }}
                            </span>
                          {% endif %}

                          {% if support.main_skill_lvl < 7 %}
                            Skills LV{{ support.main_skill_lvl }}
                          {% endif %}
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </main>
  <footer>
    <a href="https://github.com/thesadru/arkprtserver">Made with ArkPRTS</a>
  </footer>
</body>


</html>
