<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png"
    href="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/char_150_snakek.png">

<head>
    <title>Arkprts</title>
    <meta charset="UTF-8">
    <meta name="description" content="Search arknights users updated real-time.">
    <meta name="keywords" content="arknights search real-time">
</head>

<link rel="stylesheet" href="static/style.css">

<style>
    img {
        height: 12px
    }
</style>

<link rel="stylesheet" href="static/style.css">

<body>
    <div id="search">
        <form action="/search" method="GET">
            {# the defaults should be based on the query parameters #}
            {% set nickname = request.query.get("nickname", "") %}
            {% set server = request.query.get("server", "en") %}
            {% set all = request.query.get("all", "0") == "1" %}
            <input type="text" name="nickname" placeholder="Search for player" value="{{ nickname }}" required>
            <select name="server" value="{{ server }}">
                <option value="en">EN</option>
                <option value="jp">JP</option>
                <option value="kr">KR</option>
            </select>
            <input type="checkbox" name="all" value="1" {{ 'checked' if all else '' }}>
            <label for="all" style="font-size: 12px">Show all</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="login">
        <form method="GET" action="/user">
            <input type="submit" value="Login">
        </form>
    </div>

    <br>
    <div class="simple-border">
        {% if not users %}
        Please enter a nickname to search for.
        {% endif %}
        {% for user in users %}
        <div id="{{ user.uid }}">
            {# TODO: Support default and event avatars #}
            <span class="hoverable">
                {% set sec = gamedata.get_operator(user.secretary) %}
                <a class="thumb" href="https://arknights.fandom.com/wiki/{{ sec.name.replace(' ', '_') }}">
                    <img src="{{ get_image('avatars', user.secretary) }}" class="avatar-img" title="{{ sec.name }}">
                    <span>
                        <img src="{{ get_image('characters', user.secretary_skin_id) }}">
                    </span>
                </a>
            </span>
            <div>
                <div class="title">
                    LV{{ user.level }}
                    <b>{{ user.nickname }}#{{ user.nick_number }}</b> -
                    {{ user.uid }} ({{user.server_name }})
                </div>
                <i>{{ user.resume }}</i>
            </div>
            <div class="clear-both">
                Playing since: {{ user.register_ts.strftime("%Y-%m-%d") }}<br>
                Last online: {{ user.last_online_time.strftime("%Y-%m-%d") }}<br>
                {% if user.main_stage_progress %}
                {% set stage = gamedata.stage_table.stages[user.main_stage_progress] %}
                Current stage: {{ stage.code }} ({{ stage.name }})<br>
                {% else %}
                Current stage: Completed<br>
                {% endif %}
                Characters: {{ user.char_cnt}}
                Furniture: {{ user.furn_cnt }}
            </div>
            <br>
            <div>
                Support units:
                <!-- skipping all 1*/2* skill-less operators cause I don't wanna deal with that -->
                {% for support in user.assist_char_list|reject("none")|rejectattr("skill_index", "eq", -1) %}
                <div class="clear-both">
                    <span class="hoverable">
                        <a class="thumb"
                            href="https://arknights.fandom.com/wiki/{{ support.static.name.replace(' ', '_') }}">
                            <img src="{{ get_image('avatars', support.char_id) }}" class="operator-img"
                                title="{{ support.static.name }}">
                            <span>
                                <img src="{{ get_image('characters', support.skin_id) }}">
                            </span>
                        </a>
                    </span>

                    {% if support.potential_rank %}
                    <img src="{{ get_image('ui/potential', support.potential_rank + 1) }}"
                        title="Potential {{ support.potential_rank + 1 }}">
                    {% endif %}

                    <b>{{ support.static.name }}</b>
                    ({{ tierlist.get(support.char_id).tier }})

                    <img src="{{ get_image('ui/elite', support.evolve_phase) }}"
                        title="Elite {{ support.evolve_phase }}">
                    E{{ support.evolve_phase }}L{{ support.level }}

                    {% set skill = support.skills[support.skill_index] %}
                    <img src="{{ get_image('skills', 'skill_icon_' + (skill.static.icon_id or skill.skill_id)) }}"
                        title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }}">
                    S{{ support.skill_index+1 }}M{{ skill.specialize_level }}

                    <br>

                    trust {{ calculate_trust(support.favor_point) }}% ({{ support.favor_point }})

                    skills LV{{ support.main_skill_lvl }}
                    {% for skill in support.skills %}
                    <span class="relative">
                        <img src="{{ get_image('skills', 'skill_icon_' + (skill.static.icon_id or skill.skill_id)) }}"
                            title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }}">
                        {% if skill.specialize_level > 0 %}
                        <img src="{{ get_image('ui/rank', 'm-'+(skill.specialize_level|string)) }}" class="mastery-img"
                            title="{{ skill.static.levels[support.main_skill_lvl-1+skill.specialize_level].name }} M{{ skill.specialize_level }}">
                        {% endif %}
                        {# {{skill.static.levels[support.main_skill_lvl-1].name}} #}
                    </span>
                    {% endfor %}

                    {% if support.current_equip and "001" not in support.current_equip %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="{{ get_image('equip/icon', support.current_equip) }}">
                    module L{{ support.equip[support.current_equip].level }}
                    {% endif %}

                    <br>
                </div>
                {% endfor %}
            </div>
            <br>
            <div>
                Teams:
                {% for team, amount in user.team_v2.items() %}
                <span style="color: {{ 'blue' if team.upper() in user.board else 'auto' }}">
                    <img src="{{ get_image('factions', 'logo_' + team) }}" style="filter:invert(1)"
                        title="{{ gamedata.handbook_team_table[team].power_name }}">
                    <b>{{amount}}</b>
                </span>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</body>

<footer>
    Made with arkprts
</footer>

</html>