<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png"
    href="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/char_150_snakek.png">

<head>
    <title>ArkPRTS</title>
    <meta charset="UTF-8">
    <meta name="description" content="View in-game arknights information updated real-time.">
    <meta name="keywords" content="arknights search real-time">
</head>

<link rel="stylesheet" href="static/style.css">

<script>
    const copyContent = async (selector) => {
        let text = document.getElementById(selector).innerHTML;
        await navigator.clipboard.writeText(text);
    }
</script>

<body>
    <div id="search">
        <form action="/search" method="GET">
            <input type="text" name="nickname" placeholder="Search for player" required>
            <select name="server">
                <option value="en">EN</option>
                <option value="jp">JP</option>
                <option value="kr">KR</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="login">
        <form method="GET" action="/logout">
            <input type="submit" value="Logout">
        </form>
    </div>

    <br>
    <div id="export" class="simple-border">
        <details>
            <summary>
                Export characters to krooster (local storage)
                <button onclick="copyContent('kroos-char-export')">Copy!</button>
            </summary>
            <code id="kroos-char-export">{{ export.export_krooster_operators(user)|tojson }}</code>
        </details>
        <details>
            <summary>
                Export items to krooster (csv)
                <button onclick="copyContent('kroos-export')">Copy!</button>
            </summary>
            <code id="kroos-export">{{ export.export_krooster_items(user) }}</code>
        </details>
        <details>
            <summary>
                Export items to penguin statistics (json)
                <button onclick="copyContent('peguin-export')">Copy!</button>
            </summary>
            <code id="peguin-export">{{ export.export_penguin_statistics(user)|tojson }}</code>
        </details>
    </div>
    <br>
    <div class="simple-border">
        <span class="hoverable">
            {% set sec = gamedata.get_operator(user.status.secretary) %}
            <a class="thumb" href="https://arknights.fandom.com/wiki/{{ sec.name.replace(' ', '_') }}">
                <img src="{{ get_avatar(user.status.secretary, user.status.secretary_skin_id) }}" class="avatar-img"
                    title="{{ sec.name }}">
                <span>
                    <img src="{{ get_image('characters', user.status.secretary_skin_id) }}">
                </span>
            </a>
        </span>
        <div>
            <div class="title">
                LV{{ user.status.level }}
                <b>{{ user.status.nickname }}#{{ user.status.nick_number }}</b> -
                {{ user.status.uid }}
            </div>
            <i>{{ user.status.resume }}</i>
        </div>

        <div class="clear-both">
            Playing since: {{ user.status.register_ts.strftime("%Y-%m-%d") }}<br>
            {% set exp_map = gamedata.gamedata_const.player_exp_map %}
            Level {{ user.status.level }} ({{ user.status.exp }}/{{ exp_map[user.status.level-2] }} EXP)
            - Max Sanity: {{ user.status.max_ap }}<br>
            {% if user.status.main_stage_progress %}
            {% set stage = gamedata.stage_table.stages[user.status.main_stage_progress] %}
            Current stage: {{ stage.code }} ({{ stage.name }})<br>
            {% else %}
            Current stage: Completed<br>
            {% endif %}
            {% set voice_langs = gamedata.charword_table.voice_lang_type_dict %}

            Voice-over language: {{ voice_langs[user.status.global_voice_lan or "EN"].name }}<br>
        </div>

        <br>
        Inventory
        <div class="simple-border">
            <table>
                {% for item_id, amount in user.status.basic_item_inventory.items()|rejectattr("1", "eq", 0) %}
                <tr>
                    <td>
                        {% set item = gamedata.get_item(item_id) %}
                        {% if not item_id.startswith("act") %}
                        <img src="{{ get_image('items', item.icon_id) }}" title="{{ item.icon_id }}">
                        {% endif %}
                    </td>
                    <td style="text-align: right"><b>{{ amount }}</b></td>
                    <td>{{ item.name }}</td>
                </tr>
                {% endfor %}
            </table>

            <hr>

            <table>
                {% for item_id, amount in user.inventory.items()|rejectattr("1", "eq", 0) %}
                <tr>
                    <td>
                        {% set item = gamedata.get_item(item_id) %}
                        {% if not item_id.startswith("act") %}
                        <img src="{{ get_image('items', item.icon_id) }}" title="{{ item.icon_id }}">
                        {% endif %}
                    </td>
                    <td style="text-align: right"><b>{{ amount }}</b></td>
                    <td>{{ item.name }}</td>
                </tr>
                {% endfor %}
            </table>

            <hr>

            <table>
                {% for item_id, subitems in user.consumable.items() %}
                {% for raw_item in subitems.values()|rejectattr("count", "eq", 0) %}
                <tr>
                    <td>
                        {% set item = gamedata.get_item(item_id) %}
                        {% if not item_id.startswith("act") %}
                        <img src="{{ get_image('items', item.icon_id) }}" title="{{ item.icon_id }}">
                        {% endif %}
                    </td>
                    <td><b>{{ raw_item.count }}</b></td>
                    <td>
                        {{ item.name }}
                        {% if raw_item.ts %}
                        (Expires at {{ raw_item.ts.strftime("%Y-%m-%d") }})
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>

        </div>

        <br>

        Characters
        <div class="simple-border clear-both">
            {% for char in user.troop.chars.values()|sort(attribute="star_mark,evolve_phase,level", reverse=true) %}
            <div>
                <span class="hoverable">
                    <a class="thumb" href="https://arknights.fandom.com/wiki/{{ char.static.name.replace(' ', '_') }}">
                        <img src="{{ get_avatar(char.char_id, char.skin) }}" class="operator-img"
                            title="{{ char.static.name }}">
                        <span>
                            <img src="{{ get_image('characters', char.skin) }}">
                        </span>
                    </a>
                </span>

                {% if char.potential_rank %}
                <img src="{{ get_image('ui/potential', char.potential_rank + 1) }}"
                    title="Potential {{ char.potential_rank + 1 }}">
                {% endif %}

                <b style="color:{{ 'gold' if char.star_mark else 'auto' }}">{{ char.static.name }}</b>

                <img src="{{ get_image('ui/elite', char.evolve_phase) }}" title="Elite {{ char.evolve_phase }}">
                E{{ char.evolve_phase }}L{{ char.level }}
                {% if char.exp > 0 %}
                <i>(+{{ char.exp }}exp)</i>
                {% endif %}
                <br>

                trust {{ char.trust }}% ({{ char.favor_point }})


                {{ voice_langs[char.voice_lan].name }}
                <br>

                skills LV{{ char.main_skill_lvl }}
                <br>
                {% for skill in char.skills %}
                <span class="relative" style="color:{{ 'gray' if not skill.unlock else 'auto' }}">
                    <img src="{{ get_image('skills', 'skill_icon_' + (skill.static.icon_id or skill.skill_id)) }}"
                        title="{{ skill.static.levels[char.main_skill_lvl-1+skill.specialize_level].name }}">
                    {% if skill.specialize_level > 0 %}
                    <img src="{{ get_image('ui/rank', 'm-'+(skill.specialize_level|string)) }}" class="mastery-img"
                        title="{{ skill.static.levels[char.main_skill_lvl-1+skill.specialize_level].name }} M{{ skill.specialize_level }}">
                    {% endif %}
                    <b style="color:{{ 'blue' if char.default_skill_index == loop.index0 else 'auto' }}">
                        {{skill.static.levels[char.main_skill_lvl-1].name}}
                    </b>
                    {% if skill.specialize_level > 0 %}
                    <b>
                        M{{ skill.specialize_level }}
                    </b>
                    {% endif %}
                </span>
                <br>
                {% endfor %}

                {% if char.current_equip and "001" not in char.current_equip %}
                {% set module = gamedata.uniequip_table["equipDict"][char.current_equip] %}
                {% set module_name = module.type_name_1 + "-" + module.type_name_2 %}
                <img src="{{ get_image('equip/type', module_name.lower()) }}" style="filter:invert(1)">
                {{ module_name }} L{{ char.equip[char.current_equip].level }}
                {% endif %}

                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<footer>
    Made with ArkPRTS
</footer>

</html>