/* center body to make it look readable */
body {
    font-size: 20px;
    margin: 10px auto;
    width: fit-content;
    max-width: 90%;
    min-width: 50%;
    background: #f2f2f2;
    color: #404040;
    /* Novocento and Noto is used by Arknights in-game */
    font-family: "Novocento Sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 30px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin: 0;
}

img {
    /* a bit smaller than the text for inline */
    height: 16px;
}

footer {
    bottom: 20px;
    text-align: center;
}

code {
    white-space: pre-line;
    font-size: 12px;
    /* make the line height smaller, this does nothing for some reason */
    padding: 0;
    line-height: 12px;
    margin: 0px 0px;
}

h1>img {
    /* a bit smaller than the text for inline */
    height: 64px;
}

h2>img {
    /* a bit smaller than the text for inline */
    height: 36px;
}

h3>img {
    /* a bit smaller than the text for inline */
    height: 24px;
}

h4>img {
    /* a bit smaller than the text for inline */
    height: 16px;
}

/* forms */
#login {
    /* always float in top-right */
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
}

/* enable hovering on images */
.hoverable {
    position: relative;
}

.thumb span {
    position: absolute;
    visibility: hidden;
}

.thumb:hover,
.thumb:hover span {
    visibility: visible;
    /* hack to place the image to the right center */
    /* TODO: Make it go anywhere available on the screen */
    left: 20px;
    /* top: 0; */
    top: -128px;
    z-index: 1;
}

.thumb span img {
    /* TODO: The image is still loaded on phones despite being impossible to click */
    height: 512px;
}


/* black border makes it easy to separate, just use <hr> between items */
.simple-border {
    border: 1px solid black;
    padding: 10px;
}


/* these are always placed in front of text */
.avatar-img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.operator-img {
    height: 40px;
    float: left;
    margin-right: 10px;
}

/* TODO: Combine the images normally */
.mastery-img {
    /* hardcoded to the bottom right corner of the skill */
    position: absolute;
    top: 6px;
    left: 5px;
    height: 10px;
    background-color: #00000060;
}

/* TODO: this should probably be done with header tags */
.title {
    font-size: 40px;
}


/* TODO: I don't think these should require classes */
.relative {
    position: relative;
}

.clear-both {
    clear: both;
}